{% extends "base.html" %}
{% block titulo %}Cadastrar{% endblock %}
{% block conteudo %}
<div class="w-100 d-flex justify-content-center">
    <form action="/cadastrar" method="post" class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3>Cadastrar</h3>
            </div>
            <div class="card-body pb-0">
                <div class="row g-3">
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder=" " name="nome">
                            <label>Nome</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="date" class="form-control" placeholder=" " name="data_nascimento">
                            <label>Data de Nascimento</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" placeholder=" " name="email">
                            <label>E-mail</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="tel" class="form-control" placeholder=" " name="telefone">
                            <label>Telefone</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder=" " name="senha">
                            <label>Senha</label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder=" " name="confirmacao_senha">
                            <label>Confirmação de Senha</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer p-3 mt-3">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <p class="mt-2 mb-0">
                    Já é cadastrado? <a href="/entrar" class="text-decoration-none">Clique aqui</a> para entrar agora.
                </p>
            </div>
        </div>
    </form>
</div>
<script src="/static/js/mascararCampos.js"></script>
{% endblock %}